.bg-footer{
 
    background-size: contain;
     background-repeat: no-repeat;
     background-position: top;
     /* background-image: linear-gradient(to bottom, var(--tw-gradient-stops)); */
     
                         

}

.font-Poppins {
  font-family: "Poppins", sans-serif;
}

/* 
35709B
6CB0DB
font-Poppins
*/



.transition-all1 {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}
.transition-all2 {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1500ms;
}

.container {
  
 
  background: linear-gradient(to right);
  animation: slideColor 2s linear infinite alternate;
}

@keyframes slideColor {
  
  100% {
    background: linear-gradient(to left);
    

  }
}

.contact-button{
/* -webkit-box-shadow: 5px 5px 5px -4px #000000, 8px 29px 43px 27px rgba(0,0,0,0.35); 
box-shadow: 4px 4px 3px 0px #000000, 8px 29px 43px 27px rgba(0,0,0,0.0); */

box-shadow: 19px 0px 5px -2px rgba(0,0,0,0.35);
-webkit-box-shadow: 7px 9px 5px -4px rgba(0,0,0,0.35);
-moz-box-shadow: 19px 19px 5px -4px rgba(0,0,0,0.35);
}

.aosDiv{
  overflow-x: hidden;
  overflow-y: hidden;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
.animate-spin1 {
  animation: spin 5s linear infinite;
}


@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}
.animate-ping1 {
    animation: ping 5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
.animate-spin3 {
  animation: spin 5s linear infinite;
}

@keyframes ping {
  75%, 100% {
      transform: scale(1.5);
      opacity: 0.3;
  }
}
.animate-ping1 {
  animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@media screen and (max-width:576px) {
  .bg-footer{
 
    background-size: contain;
     background-repeat: no-repeat;
     background-position: 70%;
                         

}
                         

}